* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	margin-left: auto;
	margin-right: auto;
	background-color: #000;
	font-family: 'Asap Condensed', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#header {
	background-color: #000;
	color: white;
	width: 100%;
	height: 6rem;
	display: flex;
	justify-content: space-around;
	position: fixed;
	top: 0;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

.logo img {
	width: 9rem;
	height: 6rem;
	margin-right: 1rem;
}

.navigation-tabs {
	display: flex;
	justify-content: space-around;
	font-size: 1.8rem;
}

.navigation-tabs li {
	margin-right: 1.5rem;
	list-style: none;
}

.navigation-tabs a {
	text-decoration: none;
	color: #76b900;
}

.upper-nav {
	margin-top: 2.5rem;
}

.main-content {
	margin-top: 10rem;
	max-width: 65%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.main-demo {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.main-demo iframe{
	 width: 512px;
	 height: 384px;
	 border: 2px solid #76b900;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

#form {
	display: flex;
	align-items: center;
}

input[type="email"] {
	margin-right: 1rem;
	margin-top: 0.5rem;
	height: 2.7rem;
	width: 26rem;
	border: none;
	padding-left: 1rem;
}

input[type="submit"] {
	font-family: 'Asap Condensed', sans-serif;
	font-size: 2rem;
	color: white;
	background-color: #76b900;
	border: none;
	height: 2.7rem;
	width: 8rem;
	margin-top: 0.5rem;
	outline: none;
}

input[type="submit"]:active {
	background-color: #8dde00;
}

.features-container {
	margin-top: 5rem;
}

.features {
	margin-top: 1rem;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.8rem;
}

.feat-description::after {
	content: "";
	border-bottom: 2px solid #76b900;
	width: 55%;
	display: block;
}

.price-container {
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
}

.shop-item {
	font-size: 1.8rem;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	width: 33%;
	display: flex;
	flex-direction: column;
	line-height: 1.8rem;
	padding: 2rem;
}

.shop-item p {
	margin: 1.8rem;
	font-family: 'Asap Condensed', sans-serif;
}

.item {
	color: #76b900;
	margin-left: 1.7rem;
}

.add-to-cart {
	color: white;
	background-color: #76b900;
	border: none;
	height: 5rem;
	width: 60%;
	font-family: 'Asap Condensed', sans-serif;
	font-size: 1.8rem;
	margin-left: 1.7rem;
	outline: none;
}

.add-to-cart:active {
	background-color: #8dde00;
}

.card {
	background-color: #1a1a1a;
}

.footer {
	width: 65%;
	height: 7.5rem;
	background-color: #1a1a1a;
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-description {
	color: white;
	margin-left: 1rem;
	font-size: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
  float: right;
  display: none;
  height: 5rem;
  width: 5rem;
}

.dropdown__hover {
  display: inline-block;
  padding: 10px;
  background-color: #000;
  color: #76b900;
  border: none;
  cursor: pointer;
}

.dropdown__hover:hover {
  background-color: #000;
}

.dropdown__menu {
  position: absolute;
  top: 0;
  right: 100%;
  display: none;
  min-width: 100px;
  background: #000;
  height: 5rem;
  font-size: 2rem;

}

.dropdown:hover .dropdown__menu {
  display: flex;
  justify-content: space-around;
}

.dropdown:hover .dropdown__menu a {
  border: none;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.dropdown__menu a {
  color: #76b900;
}

.dropdown__menu a:hover {
  background-color: #4a4a4a;
}

@media (max-width: 600px) {
	* {
		margin: 0;
		padding: 0;
	}
	body {
		margin-right: auto;
		margin-left: auto;
		text-align: justify;
	}
	.hide {
		display: none;
  	}

  	.dropdown {
  		display: flex;
  		justify-content: center;
  		align-items: center;
  	}

  	.navigation {
	  	display: none;
  	}

  	.form-container {
  		margin-top: 5rem;
  	}

  	#form {
  		width: 100%;
  	}

  	.main-content {
  		width: 75%;
  		margin: 0 auto;
  	}

  	.price-container {
  		flex-direction: column;
  		justify-content: center;
  		align-items: center;
  		width: 100%;
  	}

  	.shop-item {
  		width: 100%;
  		padding: 10% 5%;
  		display: flex;
  		justify-content: center;
  	}

  	.add-to-cart {
  		width: 80%;
  	}

  	.main-demo {
  		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
  	}

  	#video {
  		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
  	}

  	.footer {
  		width: 100%;
  		display: flex;
  		justify-content: center;
  	}

  	.footer-description {
  		display: none;
  	}

  	.footer-nav {
  		display: flex;
  		justify-content: space-around;
  	}
}